<beans xmlns="http://www.springframework.org/schema/beans"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

	<bean id="taskDAO" class="com.idfinance.dao.impl.JdbcTaskDAO">
		<property name="dataSource" ref="dataSource" />
	</bean>
	
	<bean id="pipelineDAO" class="com.idfinance.dao.impl.JdbcPipeLineDAO">
		<property name="dataSource" ref="dataSource" />
	</bean>
	
</beans>